.bg-twitter {
    color: white;
    background-color: #1DA1F2;
}

.bg-twitter:hover {
    color: white;
    background-color: #0d91e0;
}

.bg-github {
    color: white;
    background-color: #8240a1;
}

.bg-github:hover {
    color: white;
    background-color: #6e2d8e;
}

.bg-steam {
    color: white;
    background-color: #115e87;
}

.bg-steam:hover {
    color: white;
    background-color: #0f4f6f;
}

.bg-windows {
    color: white;
    background-color: #00adef;
}

.bg-windows:hover {
    color: white;
    background-color: #0097d6;
}

.bg-linux {
    color: white;
    background-color: #dd4814;
}

.bg-linux:hover {
    color: white;
    background-color: #c63d11;
}

.bg-custom {
    background: linear-gradient(90deg, #c90cce, #166ed1);
}

.bg-ryzen {
    background-color: #ff430c;
}

.bg-msi {
    background-color: #ed1b24;
}

.bg-gskill {
    background: #c40803;
}

.bg-seagate {
    background-color: #89be52;

}

.bg-bequiet {
    background-color: #fc973a;
}

.bg-noctua {
    background-color: #541704;
}

.bg-intel {
    background-color: #0072c6;
}

.bg-logitech {
    background-color: #00b9fc;
}

.bg-hyperx {
    background-color: #db1c36;
}

.bg-bluemics {
    background-color: #153d95;
}

.bg-elgato {
    background-color: #204cfe;
}

.bg-playstation {
    background-color: #0070d1;
}

.bg-benq {
    background-color: #784f9d;
}

.bg-bose {
    background-color: #191919;
}

.bg-omen {
    background-color: #ff4102;
}

.bg-google {
    /*background-color: #4a89f3;*/
    background-color: #4b8bf3;
}

.bg-google:hover {
    /*background-color: #3362b3;*/
    background-color: #3b6cbb;
}

#isDisabled {
    cursor: not-allowed;
}

.aboutme-pfp {
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
}

.custom-badge {
    color: white;
    font-size: 18px;
    padding: 10px;
}

.red-purple {
    background: linear-gradient(-45deg, red, purple);
}

.magenta-pink {
    background: linear-gradient(-45deg, #cc8591, #aa30aa);
}

.purple-blue {
    background: linear-gradient(-45deg, rgb(199, 29, 199), rgb(56, 56, 245));
}   

.yellow-orange {
    background: linear-gradient(-45deg, #fd7a00, #d6b10b);
}  

.green-lime {
    background: linear-gradient(-45deg, rgb(52, 168, 52), #215c21);
}

.bg-second {
    color: rgb(162, 163, 177);
}

.bg-third {
    color: #99612c;
}

body {
    background: url('../assets/images/bg6.gif') no-repeat center center fixed;
    background-size: cover;
}