<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="assets/images/favicon.ico">
    <script src="js/bootstrap.min.js"></script>
    <script src="css/fontawesome/js/all.min.js"></script>
    <script src="js/include.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Galliard's website">
    <meta name="author" content="GalliardDev">
    <meta charset="UTF-8">
    <meta name="keywords" content="blog, galliard, dev, galliarddev, contasoc, amodgus, simpletools, etsii, us, PI, ADDA">
</head>