<nav class="navbar navbar-expand-md mb-4 border-bottom">
    <div class="container-fluid">
        <!-- Logo a la izquierda -->
        <a class="navbar-brand" href="aboutme.html">
            <img id="pfp" src="" alt="Avatar Logo" style="width:40px;" class="rounded-pill" title="Sobre mí">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html" title="Página principal"><i
                            class="fa fa-home me-2"></i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.galliard.dev/index.html" title="Documentación"><i
                            class="fa fa-book me-2"></i>Docs</a>
                </li>
            </ul>
            <!-- Botones a la derecha (ocultos en pantallas pequeñas) -->
            <div class="d-none d-md-flex">
                <a href="https://twitter.com/GalliardDev" class="me-3 " target="_blank"><i
                        class="fab fa-lg fa-twitter"></i></a>
                <a href="https://github.com/GalliardDev" class="me-3 " target="_blank"><i
                        class="fab fa-lg fa-github"></i></a>
                <a href="https://steamcommunity.com/id/GalliardDev/" class="me-1 " target="_blank"><i
                        class="fab fa-lg fa-steam"></i></a>
            </div>
        </div>
    </div>
</nav>
